<!DOCTYPE html>
<html>
  <head>
    <!-- Tab title + CSS stylesheets -->
    <title>Teacher Panel | Grades System Inc.</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/format.css">
  </head>
  <body class="background">
    <!-- Header for a navigation bar -->
    <header class="header" id="header">
      <img src="/static/images/logo.png" alt="Grades System Inc." class="logo">
      <div class="header-right">
        <a class="active">Panel</a>
        <a href="https://2223-software-engineering.fsweet.repl.co/logout">Logout</a>
      </div>
    </header>
    <!-- Teacher Panel Container -->
    <div class="panelcontainer">
      <!--Grade Navigation buttons -->
      <h1>Grades:</h1>
      <div class="btn-group" style="width:100%">
        <button onclick="location.href='https://2223-software-engineering.fsweet.repl.co/addgrades/'" type="button" style="width:31%">
          <img src="/static/images/plus.png" alt="Plus" class="panelicons">
          <br>Add Grades </button>
        <button onclick="location.href='https://2223-software-engineering.fsweet.repl.co/editgrades/'" type="button" style="width:31%">
          <img src="/static/images/edit.png" alt="Edit" class="panelicons">
          <br>Edit Grades </button>
        <button onclick="location.href='https://2223-software-engineering.fsweet.repl.co/viewgrades/'" type="button" style="width:31%">
          <img src="/static/images/view.png" alt="View" class="panelicons">
          <br>View Grades </button>
      </div>
      <!--Exam Navigation buttons -->
      <h1>Exams:</h1>
      <div class="btn-group" style="width:100%">
        <button onclick="location.href='https://2223-software-engineering.fsweet.repl.co/addexams/'" type="button" style="width:31%">
          <img src="/static/images/plus.png" alt="Plus" class="panelicons">
          <br>Add Exams </button>
        <button onclick="location.href='https://2223-software-engineering.fsweet.repl.co/editexams/'" type="button" style="width:31%">
          <img src="/static/images/edit.png" alt="Edit" class="panelicons">
          <br>Edit Exams </button>
        <button onclick="location.href='https://2223-software-engineering.fsweet.repl.co/viewexams/'" type="button" style="width:31%">
          <img src="/static/images/view.png" alt="View" class="panelicons">
          <br>View Exams </button>
      </div>
    </div>
    <!-- Footer -->
    <footer class="footer" id="footer">
      <a class="footer-left">Logged in as {{g.user.fullname}}</a>
      <div class="footer-right">
        <img src="/static/images/smalllogo.png" alt="Logo" class="footerimg">
        <a href="mailto:contact@gradesysteminc.com">Contact us</a>
        <a href="#header">To the top</a>
      </div>
    </footer>
  </body>
</html>